# **Data preprocessing**

→ The data is pre-processed in this notebook so that the models can be trained and tested afterwards.

### **_IMPORTS_**

In [ ]:
# Import packages
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### **_LOAD DATA_**

In [6]:
data = pd.read_csv("../data/raw/calories.csv")
data

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,female,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0

In [7]:
X = data[["User_ID", "Gender", "Age", "Height", "Weight", "Duration", "Heart_Rate", "Body_Temp"]]
y = data[["Calories"]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=X["Gender"]) # using "stratify", the genders are divided equally between train and test

With the labelencoder, “male” becomes 1 and “female” becomes 0 in the “Gender” column

In [9]:
label_encoder_gender = LabelEncoder()

X_train["Gender"] = label_encoder_gender.fit_transform(X_train["Gender"])
X_test["Gender"] = label_encoder_gender.fit_transform(X_test["Gender"])

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

#Did not improve the result

In [10]:
X_train

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
4822   17407051       0   40   172.0    70.0      11.0        94.0       39.7
9045   13546565       0   30   172.0    67.0      22.0       112.0       40.3
14504  10824389       0   40   165.0    64.0       8.0        87.0       39.9
4083   16826583       0   23   165.0    59.0      28.0       113.0       40.5
11977  12840383       0   33   154.0    57.0      10.0        92.0       39.9
...         ...     ...  ...     ...     ...       ...         ...        ...
11917  10592314       0   39   171.0    65.0       3.0        81.0       38.6
386    12338218       1   52   183.0    86.0      11.0        87.0       40.0
13027  12257588       1   52   170.0    77.0      24.0       108.0       40.6
5746   14597987       0   22   160.0    65.0      13.0        99.0       40.4
12611  11859982       1   67   188.0    99.0       7.0        82.0       39.3

[12000 rows x 8 columns]

In [11]:
y_train

       Calories
4822       54.0
9045      148.0
14504      34.0
4083      190.0
11977      48.0
...         ...
11917      11.0
386        47.0
13027     175.0
5746       68.0
12611      32.0

[12000 rows x 1 columns]